# Version Control
.git
.gitattributes

# IDE & Editors
.idea/
.vscode/
*.iml
*.ipr
*.iws
out/

# JWT keys
**/keys/*.pem
!**/src/test/resources/keys/*.pem

# Gradle / Java build output
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Documentation
HELP.md

# Environment Files
.env*
!.env.example

# OS & System Files
.DS_Store
Thumbs.db
Desktop.ini
*.log